@model IEnumerable<Product>

<h2>Products</h2>
<table class="table">
    <tr>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
    </tr>





















</table>

